movies/app/Config/config.ini
movies/html/assets/img/movies
movies/app/tmp/logs/error.log
movies/html/assets/img/cast/
*.pyc
.project
.idea
movies/app/Console
movies/app/tmp/
movies.komodoproject
