<td class="movie_details span12" colspan="10">
    <div class="span4">
        <% if(movie.Movie.has_image) { %>
            <img class="movie_image" style="width:100%;"
                 src="/assets/img/movies/<%= movie.Movie.imdb_id %>.jpg" />
        <% } else { %>
            <div class="no_image_holder">
                <div>
                    <p>No Cover Image</p>
                </div>
            </div>
        <% } %>
        <br />
        <% if (user.authenticated) {%>
            <dl>
                <dt>
                    <strong>Watched:</strong>&nbsp;
                    <a class="watched_link link">
                        <i title="Mark as Watched" class="icon-plus" />
                    </a>
                </dt>
                <% if(_.size(movie.Watched)) { %>
                    <table id="watched_<%= movie.Movie.movie_id %>"
                           class="table table-bordered table-condensed file">
                        <% _.each(movie.Watched, function(watched) { %>
                            <tr>
                                <td>
                                    <% if (watched.date_watched) { %>
                                        <%= watched.date_watched %>
                                    <% } else { %>
                                        -
                                    <% } %>
                                </td>
                                <td style="width:1%;text-align:center;">
                                    <a class="unwatched_link link" data-watched-id="<%= watched.id %>" >
                                        <i title="Remove from Watched" class="icon-trash" />
                                    </a>
                                </td>
                            </tr>
                        <% }); %>
                    </table>
                <% } %>
            </dl>
        <% } %>
    </div>
    <div class="span8">
        <%= movie.Movie.synopsis %>
        <dl class="directors clearfix">
            <dt><strong>Director(s):</strong></dt>
            <% _.each(movie.Director, function(director) { %>
                <dd class="pull-left">
                    <% if (director.cast_image) { %>
                        <img class="cast_image"
                             src="/assets/img/cast/<%= director.person_imdb_id %>.jpg" />
                    <% } else { %>
                        <img class="cast_image" src="/assets/img/no_photo.png" />
                    <% } %>
                    <a target="_blank" href="http://www.imdb.com/name/<%= director.person_imdb_id %>">
                        <%= director.person_name %></a>
                    <span class="director_link link"
                          data-person_name="<%= director.person_name %>"
                          data-person_id="<%= director.person_id %>">
                          (<a><%= director.movie_count %></a>)
                    </span>
                </dd>
            <% }); %>
        </dl>
        <dl class="actors clearfix">
            <dt><strong>Actors(s):</strong></dt>
            <% cast_count = 0; var hidden = false; %>
            <% _.each(movie.Actor, function(actor) { %>
                <% cast_count = cast_count + 1;
                   if(cast_count > 10 && !hidden) { hidden = true; %>
                    <div id="all_cast_<%= movie.Movie.movie_id %>" style="display:none;">
                <% } %>
                <dd class="pull-left" style="line-height:32px;">
                    <% if (actor.cast_image) { %>
                        <img class="cast_image"
                             src="/assets/img/cast/<%= actor.person_imdb_id %>.jpg" />
                    <% } else { %>
                        <img class="cast_image" src="/assets/img/no_photo.png" />
                    <% } %>
                    <a target="_blank" href="http://www.imdb.com/name/<%= actor.person_imdb_id %>">
                        <%= actor.person_name %></a>
                    <span class="actor_link link"
                          data-person_name="<%= actor.person_name %>"
                          data-person_id="<%= actor.person_id %>">
                        (<a><%= actor.movie_count %></a>)
                    </span>
                </dd>
            <% }); %>
            <% if (hidden) {%>
                </div>
                <br style="clear:both;" />
                <span id="show_all_cast_<%= movie.Movie.movie_id %>"
                      data-movie-id="<%= movie.Movie.movie_id %>"
                      class="pull-right show-all-link">
                    <a class="btn btn-mini">Show All</a>
                </span>
            <% } %>
        </dl>
        <dl class="genres clearfix">
            <dt><strong>Genre(s):</strong></dt>
            <% _.each(movie.Genre, function(genre) { %>
                <dd class="pull-left">
                    <a target="_blank" href="http://www.imdb.com/genre/<%= genre.genre.toLowerCase().replace(/-/g, '_') %>">
                        <%= genre.genre %>
                    </a>
                    <span class="genre_link link"
                       data-genre_id="<%= genre.genre_id %>">
                        (<a><%= genre.movie_count %></a>)
                    </span>
                </dd>
            <% }); %>
        </dl>
        <dl class="keywords clearfix">
            <dt><strong>Keyword(s):</strong></dt>
            <% keyword_count = 0; var hidden = false; %>
            <% _.each(movie.Keyword, function(keyword) { %>
                <% keyword_count = keyword_count + 1;
                   if(keyword_count > 10 && !hidden) { hidden = true; %>
                        <div id="all_keyword_<%= movie.Movie.movie_id %>" style="display:none;">
                <% } %>
                <dd class="pull-left">
                    <a target="_blank"
                       href="http://www.imdb.com/keyword/<%= keyword.keyword.toLowerCase().replace(/\s/g, '-') %>">
                        <%= keyword.keyword %>
                    </a>
                    <span class="keyword_link link"
                          data-keyword="<%= keyword.keyword %>"
                          data-keyword_id="<%= keyword.keyword_id %>">
                        (<a><%= keyword.movie_count %></a>)
                    </span>
                </dd>
            <% }); %>
            <% if (hidden) {%>
                </div>
                <br style="clear:both;" />
                <span id="show_all_keyword_<%= movie.Movie.movie_id %>"
                      data-movie-id="<%= movie.Movie.movie_id %>"
                      class="pull-right show-all-link">
                    <a class="btn btn-mini">Show All</a>
                </span>
            <% } %>
        </dl>
        <dl>
            <dt>
                <strong>File:</strong>
            </dt>
            <dd>
                <table class="table table-bordered table-condensed file">
                    <tr>
                        <td><strong>ID:</strong></td>
                        <td><%= movie.Movie.movie_id %></td>
                        <td><strong>Filesize:</strong></td>
                        <td><%= movie.Movie.filesize %>GB</td>
                        <td><strong>Resolution:</strong></td>
                        <td>
                            <%= movie.Movie.width %>x<%= movie.Movie.height %>
                        </td>
                        <td><strong>Type:</strong></td>
                        <td>
                            <%= movie.Movie.path.replace(/.*?\./g, '') %>
                        </td>
                    </tr>
                    <% if (user.authenticated) {%>
                        <tr>
                            <td><strong>File:</strong></td>
                            <td colspan="7">
                                <a href="/movies/get/<%= movie.Movie.movie_id %>/">
                                    <%= movie.Movie.path.replace(/.*\//g, '') %>
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </table>
            </dd>
        </dl>
        <dl>
            <dt>
                <strong>Media:</strong>
                <% if (user.authenticated) {%>
                    <span class="edit_media">
                        <a class="menu_item"><i class="icon-edit" /></a>
                    </span>
                <% } %>
            </dt>
            <dd>
                <table class="table table-bordered table-condensed media">
                    <tr>
                        <td><strong>Archived:</strong></td>
                        <td>
                            <% if(movie.Movie.media_id) { %>
                                <img class="centre tick_cross"
                                     src='/assets/img/tick.png' />
                            <% } else { %>
                                <img class="centre tick_cross"
                                     src='/assets/img/cross.png' />
                            <% } %>
                        </td>
                        <td><strong>Storage:</strong></td>
                        <td>
                            <% if(movie.Media.Storage &&
                                  movie.Media.Storage.media_storage) { %>
                                <%= movie.Media.Storage.media_storage %>
                            <% } else { %>
                                -
                            <% } %>
                        </td>
                        <td><strong>Format:</strong></td>
                        <td>
                            <% if(movie.Media.MediaFormat &&
                                  movie.Media.MediaFormat.media_format) { %>
                                <%= movie.Media.MediaFormat.media_format %>
                            <% } else { %>
                                -
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Region:</strong></td>
                        <td>
                            <% if(movie.Media.Region &&
                                  movie.Media.Region.region) { %>
                                <%= movie.Media.Region.region %>
                            <% } else { %>
                                -
                            <% } %>
                        </td>
                        <td><strong>Special Edition:</strong></td>
                        <td>
                            <% if(movie.Movie.media_id) { %>
                                <% if(movie.Media.special_edition) { %>
                                    <img class="centre tick_cross"
                                         src='/assets/img/tick.png' />
                                <% } else { %>
                                    <img class="centre tick_cross"
                                         src='/assets/img/cross.png' />
                                <% } %>
                            <% } else { %>
                                -
                            <% } %>
                        </td>
                        <td><strong>Boxed Set:</strong></td>
                        <td>
                            <% if(movie.Movie.media_id) { %>
                                <% if(movie.Media.boxset) { %>
                                    <span class="media_link link"
                                          data-media_id="<%= movie.Movie.movie_id %>">
                                        <a><%= movie.Movie.media_id %></a>
                                    </span>
                                <% } else { %>
                                    -
                                <% } %>
                            <% } else { %>
                                -
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Purchase Price:</strong></td>
                        <td>
                            <% if(movie.Media.purchase_price) { %>
                                &pound;<%= movie.Media.purchase_price %>
                            <% } else { %>
                                -
                            <% } %>
                        </td>
                        <td><strong>Current Price:</strong></td>
                        <td>
                            <% if(movie.Media.current_price) { %>
                                &pound;<%= movie.Media.current_price %>
                            <% } else { %>
                                -
                            <% } %>
                        </td>
                        <td><strong>Amazon:</strong></td>
                        <td>
                            <% if(movie.Media.amazon_asin) { %>
                                <a href="http://www.amazon.co.uk/gp/offer-listing/<%= movie.Media.amazon_asin %>/"
                                   class="black" target="_blank">
                                    <%= movie.Media.amazon_asin %>
                                </a>
                            <% } else { %>
                                -
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Notes:</strong></td>
                        <td colspan="5">
                            <% if(movie.Media.notes) { %>
                                <%= movie.Media.notes %>
                            <% } else { %>
                                -
                            <% } %>
                        </td>
                    </tr>
                </table>
            </dd>
        </dl>
    </div>
</td>