<td><a href='/#id=<%= Movie.movie_id %>'><%= Movie.title %></a></td>
<td class='centre'><%= Movie.filesize %></td>
<td class='centre'><%= Movie.date_downloaded %></td>
<td class='centre'><%= Movie.status %></td>
<td>
    <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
            Actions <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right">
            <% if (user.authenticated) {%>
                <li class="download_link">
                    <a class="menu_item">
                        <i class="icon-download"></i>
                        &nbsp;Download
                    </a>
                </li>
                <li class="favourite_link">
                    <% if(Movie.status != 'Complete' &&
                          Movie.status != 'Cancelled') { %>
                        <a id="cancel_download_link" class="menu_item">
                            <i class="icon-trash"></i>
                            &nbsp;Cancel Download
                        </a>
                    <% } %>
                </li>
            <% } %>
        </ul>
    </div>
</td>