<thead>
    <tr>
        <th id="table_title" style="width:100%" colspan="5">
            <h4 style="margin:0px 0px 1px 0px;">Movies</h4>
        </th>
    </tr>
    <tr>
        <th style="width:20%">
            <span id="title_sort" class="sort_link link"
                  title="Click to sort title" data-sort_order="title">
                Title
            </span>
        </th>
        <th style="width:7%">
            <span id="release_year_sort" class="sort_link link"
                  title="Click to sort year" data-sort_order="release_year">
                Year
            </span>
        </th>
        <th style="width:8%">
            <span id="imdb_rating_sort" class="sort_link link"
                  title="Click to sort rating" data-sort_order="imdb_rating">
                Rating
            </span>
        </th>
        <th style="width:10%">
            <span id="runtime_sort" class="sort_link link"
                  title="Click to sort runtime" data-sort_order="runtime">
                Runtime
            </span>
        </th>
        <th style="width:7%">
            <span id="cert_sort" class="sort_link link"
                  title="Click to sort certificate" data-sort_order="cert">
                Cert
            </span>
        </th>
        <th style="width:8%">
            <span id="date_added_sort" class="sort_link link"
                  title="Click to sort date_added" data-sort_order="date_added">
                Added
            </span>
        </th>
        <th style="width:6%">
            <span id="hd_sort" class="sort_link link"
                  title="Click to sort definition" data-sort_order="hd">
                HD
            </span>
        </th>
        <% if (authenticated) {%>
            <th style="width:7%">
                <span id="watched_sort" class="sort_link link"
                      title="Click to sort watched" data-sort_order="watched">
                    Seen
                </span>
            </th>
        <% } %>
        <th style="width:1%;text-align:center;">-</th>
    </tr>
</thead>