<td><a href='/#id=<%= loaned.Movie.movie_id %>'><%= loaned.Movie.title %></a></td>
<td class='centre'><%= loaned.MediaLoaned.loaned_to %></td>
<td class='centre'><%= loaned.MediaLoaned.date_loaned %></td>
<td>
    <div class="btn-group">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
            Actions <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right">
            <% if (user.authenticated) {%>

            <% } %>
        </ul>
    </div>
</td>