[DB]
cake_db_engine="Database/Postgres"
db_engine""
db_user=""
db_password=""
db_host=""
db_port=""
db_name""

[SECURITY]
salt=""
cipher_seed=""

[WEBESERVER]
image_save_path="" #location to save downloaded movie posters

[BACKUP]
backup_path="" #path to backup db dump and movie images.
backup_files_to_keep = "" #how manny back up files to keep before oldest is deleted

[MISC]
email_address=""
