body {
    margin:0;
    padding:0;
    font-family:Trebuchet MS;
    font-size:12px;
    background-color:#E9E9F5;
}
a:hover {
    cursor:pointer;
}
span#first_page_link, span#prev_page_link {
    visibility:hidden;
}
span#last_page_link, span#next_page_link {
    visibility:visible;
}
span.link:hover {
    cursor:pointer;
}
#header {
    background-color:#000000;
    width:100%;
    line-height:30px;
    margin:0 0 5px 0;
    padding:0 0 0 20px;
    color:#FFFFFF;
    border:1px solid #000000;
}
#header a {
    color:#FFFFFF;
    text-decoration:none;
}
#content {
    margin:0 auto 0 auto;
    min-width:700px;
    max-width:800px;
}
#movies_search {
    border:1px solid #7F8082;
    width:300px;
    border-bottom:0px;
    background-color:#FFFFFF;
    padding:3px;
}
#movies_search img.paging_link {
    float:left;
    padding:2px 0 0 0;
    margin:0;
}
#movies_search span.border {
    border-right:1px solid #7F8082;
    padding:0px;
    margin:0 5px 0px 5px;
    padding-top:3px;
}
#movies_search #result_count {
    font-size:0.85em;
    font-weight:bold;
    margin:0;
    padding:0;
}
#xls_icon {
    padding:0 0 0 2px;
    margin:0;
    width:12px;
    height:15px
}
#advanced_search_icon {
    padding:0;
    margin:0;
    width:15px;
    height:16px
}
#search_input {
    font-size:0.85em;
}
table {
    background-color:#FFFFFF;
    border-collapse: collapse;
    border-style: hidden;
    width:100%;
}
table th {
    text-align:left;
    background-color:#000000;
    color:#FFFFFF;
    line-height:25px;
}
table td, table th {
    padding:0 4px 0 4px;
    border:1px solid #7F8082;
}
table td a {
    color:#000000;
}
table th a {
    color:#FFFFFF;
    text-decoration:none;
}
table td.movie_details {
    padding:3px;
}
#no_results {
    text-align:center;
    color:#FF0000;
    line-height:50px;
    font-weight:bold;
}
.centre {
    text-align:center;
}
img.move_image {
    float:left;
    margin-right:10px;
    border:1px solid #000000;
    width:214px;
    height:317px;
}
div.no_image_holder div {
    float:left;
    margin-right:20px;
    border:1px solid #000000;
    background-color:#EDEDED;
}
div.no_image_holder div {
    width:214px;
    height:317px;
}
div.no_image_holder div p {
    padding:130px 0 0 80px;
}
ul.genres span, ul.directors span, ul.actors span {
    text-decoration:underline;
}
ul.genres li, ul.directors li, ul.actors li {
    float:left;
    padding-right:5px;
    list-style:none;
}
#version {
    display:none;
    float:right;
    font-size:0.75em;
}
span.down_arrow {
    float:right;
    width:7px;
    height:7px;
    margin-top:8px;
    background:url('/assets/image/down_arrow.png') no-repeat;
}
span.up_arrow {
    float:right;
    width:7px;
    height:7px;
    margin-top:8px;
    background:url('/assets/image/up_arrow.png') no-repeat;
}
