body {
    margin:0;
    padding:0;
    font-family:Trebuchet MS;
    font-size:13px;
    background-color:#E9E9F5;
}
a:hover {
    cursor:pointer;
}
span#first_page_link, span#prev_page_link {
    visibility:hidden;
}
span#last_page_link, span#next_page_link {
    visibility:visible;
}
span.link:hover {
    cursor:pointer;
}
#header {
    background-color:#246B1E;
    width:100%;
    line-height:30px;
    margin:0 0 5px 0;
    padding:0 0 0 20px;
    color:#FFFFFF;
    border:1px solid #000000;
}
#content {
    margin:0 auto 0 auto;
    min-width:700px;
    max-width:800px;
}
span.advanced_search_link {
    text-decoration:underline;
    padding-right:10px;
}
table {
    background-color:#FFFFFF;
    border-collapse: collapse;
    border-style: hidden;
    width:100%;
}
table th {
    text-align:left;
    background-color:#246B1E;
    color:#FFFFFF;
}
table td, table th {
    border:1px solid #000000;
}
table td a {
    color:#000000;
}
table th a {
    color:#FFFFFF;
    text-decoration:none;
}
#no_results {
    text-align:center;
    color:#FF0000;
    line-height:50px;
    font-weight:bold;
}
.centre {
    text-align:center;
}
img.move_image {
    float:left;
    margin-right:20px;
    border:1px solid #000000;
    width:214px;
    height:317px;
}
div.no_image_holder div {
    float:left;
    margin-right:20px;
    border:1px solid #000000;
    background-color:#EDEDED;
}
div.no_image_holder div {
    width:214px;
    height:317px;
}
div.no_image_holder div p {
    padding:130px 0 0 80px;
}
ul.genres span, ul.directors span, ul.actors span {
    text-decoration:underline;
}
ul.genres li, ul.directors li, ul.actors li {
    float:left;
    padding-right:5px;
    list-style:none;
}
#version {
    float:right;
    font-size:0.75em;
}
